.form_ingredient{
  height: 40vh;
  overflow: scroll;
}


.photopart{
  margin: 10px 0px;
  min-height: 10vh;
  width: 100%;
}

.photobutton{
  float: left;
  width: 15%;
}


.photoresult{
  float: right;
  width: 70%;
  height: 20vh;
}
