<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dorian's Pizza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/media/pizza.jpg">
          <ion-card-title>Nom Pizza</ion-card-title>
          <ion-card-subtitle>300€</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="cart-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/media/pizza.jpg">
          <ion-card-title>Nom Pizza</ion-card-title>
          <ion-card-subtitle>300€</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="cart-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/media/pizza.jpg">
          <ion-card-title>Nom Pizza</ion-card-title>
          <ion-card-subtitle>300€</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="cart-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
<!--</ion-content>-->

<!--<ion-tabs>-->
<!--  <ion-tab-bar slot="bottom">-->
<!--    <ion-tab-button tab="Home">-->
<!--      <ion-icon name="home"></ion-icon>-->
<!--      <ion-label>Home</ion-label>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="map">-->
<!--      <ion-icon name="cart"></ion-icon>-->
<!--      <ion-label>Panier</ion-label>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="about">-->
<!--      <ion-icon name="information-circle"></ion-icon>-->
<!--      <ion-label>About</ion-label>-->
<!--    </ion-tab-button>-->
<!--  </ion-tab-bar>-->
<!--</ion-tabs>-->


</ion-content>
