.zdetails{
  width: 100%;
  height: 100%;
}

ion-item.zimg{
  width: 100%;
  height: 35%;
}

ion-item.zimg img{
  overflow: hidden;
}

ion-item{
  display: block;
  width: 100%;
}

ion-text{
  display: block;
  width: 100%;
}
